---
import Layout from "../../layouts/Layout.astro";
import AboutHeader from "../../components/shared/title_page/index.astro";
import CollageSection from "../../components/pages/about/CollageSection.astro";
import AboutContainer from "../../components/pages/about/AboutContainer.astro";
import Carousel from "../../components/shared/testimonials/index.astro";
import StorySection from "../../components/pages/about/StorySection.astro";
import BannerSection from "../../components/pages/about/BannerSection.astro";
import Footer from "../../components/shared/footer/index.astro";
import { meta } from "../../config";
import { obtenerConfiguracionSitio } from "../../utils/common";
import { ConfigurationError } from "../../components/shared";
import { obtenerYValidarDatos } from "../../utils/api";

const { isConfigured } = await obtenerConfiguracionSitio();

const { data, isValid: datosValidos } = await obtenerYValidarDatos();
---

{
  isConfigured ? (
    <Layout
      title={meta.about.title}
      description={meta.about.description}
      keywords={meta.about.keywords}
      canonical={meta.about.canonical}
      image={meta.about.image}
      type={meta.about.type}
      robots={meta.about.robots}
      structuredData={meta.about.structuredData}
    >
      <div class="pt-16 md:pt-20">
        <AboutHeader title="SOBRE NOSOTROS" />
        <AboutContainer>
          <CollageSection
            quote='"SUEÑA <br /> EXPLORA<br /> DESCUBRE."'
            primaryImageUrl={data.acerca.imageOne.url}
            primaryImageAlt="Seaside photo"
            introSpan=""
            introText={data.acerca.introduction}
            signature=""
            secondaryImageUrl={data.acerca.imageTwo.url}
            secondaryImageAlt="Black and white photo"
          />

          <StorySection
            storyParagraphs={data.acerca.biography}
            tertiaryImageUrl={data.acerca.imageThree.url}
            tertiaryImageAlt="Jules on beach"
          />
          <BannerSection
            quaternaryImageUrl={data.acerca.imageFour.url}
            quaternaryImageAlt="Jules in a field"
            bottomQuote='"CUANDO VIAJAS <br />NO ES TRABAJO <br />ES PASION."'
          />
        </AboutContainer>
      </div>


      <Footer
        facebook={data.acerca.social.facebook}
        youtube={data.acerca.social.youtube}
        tiktok={data.acerca.social.tiktok}
        twitter={data.acerca.social.twitter}
        content={[
          {
            id: data.inicio.cierre[0].articulo[0].post.id,
            title: data.inicio.cierre[0].articulo[0].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[0].post.imagenes[0].imagen.url,
          },
          {
            id: data.inicio.cierre[0].articulo[1].post.id,
            title: data.inicio.cierre[0].articulo[1].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[1].post.imagenes[0].imagen.url,
          },
          {
            id: data.inicio.cierre[0].articulo[2].post.id,
            title: data.inicio.cierre[0].articulo[2].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[2].post.imagenes[0].imagen.url,
          },
          {
            id: data.inicio.cierre[0].articulo[3].post.id,
            title: data.inicio.cierre[0].articulo[3].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[3].post.imagenes[0].imagen.url,
          },
          {
            id: data.inicio.cierre[0].articulo[4].post.id,
            title: data.inicio.cierre[0].articulo[4].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[4].post.imagenes[0].imagen.url,
          },
          {
            id: data.inicio.cierre[0].articulo[5].post.id,
            title: data.inicio.cierre[0].articulo[5].post.title,
            imageUrl:
              data.inicio.cierre[0].articulo[5].post.imagenes[0].imagen.url,
          },
        ]}
      />

    </Layout>
  ) : (
    <ConfigurationError />
  )
}
