---
import Layout from "../../layouts/Layout.astro";
import HeroArticle from "../../components/pages/view_article/hero_section/index.astro";
import ArticleSection from "../../components/pages/view_article/article_section/index.astro";
import CarouselArticle from "../../components/pages/view_article/carousel_article/index.astro";
import ArticleGallery from "../../components/pages/view_article/article_gallery/index.astro";
import TeaserCard from "../../components/pages/home/teaser_section/components/teaser_card/index.astro";
import CollageTwo from "../../components/pages/view_article/collage_two/index.astro";
import CommentsForm from "../../components/pages/view_article/comments_form/index.astro";
import { DiscoverySection } from "../../components/pages/home";
import { itemsArticleView } from "../../components/pages/home/discovery_section/data/index";
import {
  galleryImages,
  galleryImagesTwo,
} from "../../components/pages/view_article/article_gallery/data/index";
import { cardsArticleView } from "../../components/pages/home/teaser_section/data/index";
import { meta } from "../../config/meta/index";
---

<Layout
  title={meta.viewArticle.title}
  description={meta.viewArticle.description}
  keywords={meta.viewArticle.keywords}
  canonical={meta.viewArticle.canonical}
  image={meta.viewArticle.image}
  type={meta.viewArticle.type}
  robots={meta.viewArticle.robots}
  structuredData={meta.viewArticle.structuredData}
>
  <HeroArticle />
  <ArticleSection />
  <ArticleGallery images={galleryImages} />
  <section class="grid grid-cols-1 md:grid-cols-2">
    <button class="relative overflow-hidden group cursor-pointer block">
      <div class="relative h-screen overflow-hidden">
        <img
          src="https://images.pexels.com/photos/2539417/pexels-photo-2539417.jpeg"
          alt=""
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
        />
        <div
          class="absolute inset-0 bg-black/30 group-hover:bg-black/40 transition-colors duration-300"
        >
        </div>
      </div>
    </button>
    <button class="relative overflow-hidden group cursor-pointer block">
      <div class="relative h-screen overflow-hidden">
        <img
          src="https://images.pexels.com/photos/32499277/pexels-photo-32499277/free-photo-of-primer-plano-de-flores-de-alstroemerias-de-color-rosa-vibrante-en-flor.png"
          alt=""
          class="w-full h-full object-cover transition-transform duration-700 group-hover:scale-105"
        />
        <div
          class="absolute inset-0 bg-black/30 group-hover:bg-black/40 transition-colors duration-300"
        >
        </div>
      </div>
    </button>
  </section>
  <CollageTwo
    textRight="“Viajar es una forma de expresión del alma, una manera de descubrir el mundo y a uno mismo.”"
    primaryImageUrl="https://media.tacdn.com/media/attractions-splice-spp-674x446/06/75/a7/88.jpg"
    primaryImageAlt="Mini vestido de mezclilla outfit idea"
    secondaryImageUrl="https://img.freepik.com/foto-gratis/hombre-equipo-senderismo-caminando-bosque-mouton_1253-1490.jpg?semt=ais_hybrid&w=740"
    secondaryImageAlt="Mini vestido de mezclilla outfit idea"
  />
  <ArticleGallery images={galleryImagesTwo} />
  <DiscoverySection items={itemsArticleView} />
</Layout>
