---
import Layout from "../../../layouts/Layout.astro";
import { DEFAULT_CONFIG } from "../../../utils/common";

export interface Props {
  title?: string;
  message?: string;
  buttonText?: string;
  redirectUrl?: string;
}

const {
  title = DEFAULT_CONFIG.messages.incomplete,
  message = DEFAULT_CONFIG.messages.instruction,
  buttonText = DEFAULT_CONFIG.messages.buttonText,
  redirectUrl = DEFAULT_CONFIG.redirectUrl,
} = Astro.props;
---

<Layout isConfigured={false}>
  <div class="min-h-screen w-full flex items-center justify-center bg-neutral-900">
    <div class="text-center p-8 max-w-lg mx-auto">
      <h1 class="text-xl font-bold text-neutral-100 mb-2">
        {title}
      </h1>
      <p class="text-base text-neutral-400">
        {message} <br />
      </p>
      <div class="mt-6 w-full mx-auto justify-center items-center flex">
        <a
          href={redirectUrl}
          class="text-gray-100 text-base flex bg-white/10 w-fit px-6 py-2 rounded-md hover:bg-white/20 transition-all duration-300"
        >
          {buttonText}
        </a>
      </div>
    </div>
  </div>
</Layout>
