---
const imageAlt = "Paisaje";
const authorSignature = "Camino Valiente";

const {category, title, subtitle, imageUrl, content } = Astro.props
---

<section class="w-full py-8">
  <div class="px-4 sm:px-16 lg:px-16 mt-8">
    <!-- Header -->
    <div class="max-w-5xl mx-auto text-center mb-12">
      {
        category && (
          <p class="text-xs font-semibold text-gray-600 uppercase mb-8">
            {category}
          </p>
        )
      }

      <h1
        class="font-playfair-display text-3xl md:text-4xl lg:text-5xl text-gray-900 font-normal tracking-tighter leading-tight mb-2 uppercase"
      >
        {title}
      </h1>

      {
        subtitle && (
          <h2 class=" text-3xl md:text-4xl lg:text-5xl text-gray-900 font-bold uppercase ">
            {subtitle}
          </h2>
        )
      }
    </div>

    <!-- Imagen -->
    <div class="max-w-4xl mx-auto pb-4 mt-16 block">
      <img loading="lazy"
        src={imageUrl}
        alt={imageAlt}
        class="w-full h-auto object-cover aspect-[3/4]"
      />
    </div>

    <!-- Contenido -->
    <div class="max-w-4xl mx-auto px-4 md:px-0 py-2 mt-8">
      <p class="text-gray-700 leading-relaxed mb-6 text-center font-light text-lg font-playfair-display">
        {content}
      </p>

      {
        authorSignature && (
          <div class="text-center mt-8">
            <p class="font-script text-lg text-gray-600 italic">
              {authorSignature}
            </p>
          </div>
        )
      }
    </div>
  </div>

  <style>
    .font-script {
      font-family: "Satisfy", cursive, system-ui;
    }

    @media (max-width: 768px) {
      .prose {
        font-size: 95%;
      }
    }
  </style>
</section>
