---
import { DestinationCard } from "./components";
interface Props {
  destinations: {
    id: string;
    location: string;
    subtitle: string;
    title: string;
    description: string;
    imageUrl: string;
    imageAlt: string;
    isReversed?: boolean;
    images?: {
      url: string;
      alt: string;
    }[];
  }[];
}
const { destinations } = Astro.props;
---

<section>
  {
    destinations.map((destination, idx) => (
      <DestinationCard
        id={destination.id}
        location={destination.location}
        subtitle={destination.subtitle}
        title={destination.title}
        description={destination.description}
        imageUrl={destination.imageUrl}
        imageAlt={destination.imageAlt}
        isReversed={destination.isReversed}
        images={destination.images}
        isCarousel={idx === 0}
      />
    ))
  }
</section>
