---
import { DestinationCard } from "./components";
interface Props {
  destinations: {
    id: string
    location: string;
    subtitle: string;
    title: string;
    description: string;
    imageUrl: string;
    imageAlt: string;
    isReversed?: boolean;
  }[];
}
const { destinations } = Astro.props;
---

<section>
  {
    destinations.map((destination) => (
      <DestinationCard
        id={destination.id}
        location={destination.location}
        subtitle={destination.subtitle}
        title={destination.title}
        description={destination.description}
        imageUrl={destination.imageUrl}
        imageAlt={destination.imageAlt}
        isReversed={destination.isReversed}
        isCarousel={true}
      />
    ))
  }
</section>
