---
interface Props {
  content: {
    id: string;
    title: string;
    imageUrl: string;
  }[];
}

const { content } = Astro.props;
---

<div
  class="grid grid-cols-1 md:grid-cols-[30%_70%] overflow-x-hidden grid-rows-[auto] md:grid-rows-[720px] overflow-y-hidden"
>
  <div class="h-full md:h-full relative cursor-pointer group">
    <img loading="lazy"
      src={content[0].imageUrl}
      alt={content[0].title}
      class="w-full h-full object-cover"
    />
    <div
      class="absolute bottom-0 left-0 w-full h-full bg-black/50 flex items-center justify-center p-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
    >
      <p class="text-white text-center text-sm font-normal">
        {content[0].title}
      </p>
    </div>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-3 grid-rows-3 md:grid-rows-2 h-[600px] md:h-full"
  >
    {
      content.map((image) => (
        <a href={`/${image.id}`} target="_blank" class="aspect-square h-full w-full relative group cursor-pointer block">
          <img loading="lazy"
            src={image.imageUrl || "/placeholder.svg"}
            alt={image.title}
            class="w-full h-full object-cover"
          />
          <div class="absolute bottom-0 left-0 w-full h-full bg-black/50 flex items-center justify-center p-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <p class="text-white text-center text-sm font-normal">
              {image.title}
            </p>
          </div>
        </a>
      ))
    }
  </div>
</div>
