---
import Layout from "../layouts/Layout.astro";
import { Navigation, Footer } from "../components/shared";
import {
  HeroSection,
  DestinationSection,
  PrimaryCarouselSection,
  ParallaxSection,
  SecondaryCarouselSection,
  TeaserSection,
} from "../components/pages/home";
import FashionCards from "../components/shared/FashionCards.astro";
import {
  primaryDestinations,
  secondaryDestinations,
  tertiaryDestinations,
  quaternaryDestinations,
  quinaryDestinations,
} from "../data";
---

<Layout>
  <div class="relative min-h-screen bg-neutral-100">
    <Navigation client:load />
    <HeroSection />
  </div>
  <DestinationSection destinations={primaryDestinations} />
  <PrimaryCarouselSection client:load />
  <DestinationSection destinations={secondaryDestinations} />
  <ParallaxSection
    imageUrl="https://www.peru.travel/Contenido/Atractivo/Imagen/es/522/1.1/Principal/huacachina-laguna.jpg"
    subtitle="Laguna Huacachina"
    category="ICA - PERU"
    title="Oasis en el desierto"
  />
  <DestinationSection destinations={tertiaryDestinations} />
  <SecondaryCarouselSection client:load />
  <DestinationSection destinations={quaternaryDestinations} />
  <TeaserSection />
  <DestinationSection destinations={quinaryDestinations} />
  <FashionCards />
  <Footer />
</Layout>
