---
interface Props {
  quote: string;
  primaryImageUrl: string;
  primaryImageAlt: string;
  introSpan: string;
  introText: string;
  signature: string;
  secondaryImageUrl: string;
  secondaryImageAlt: string;
}

const {
  quote,
  primaryImageUrl,
  primaryImageAlt,
  introSpan,
  introText,
  signature,
  secondaryImageUrl,
  secondaryImageAlt,
} = Astro.props;
---

<div >
  <div >
    <div class="grid grid-cols-1 lg:grid-cols-[30%_70%]">
      <div class=" h-full pt-16">
        <div
          class="font-playfair-display text-left mb-1 uppercase text-neutral-950  md:text-6xl sm:text-4xl text-2xl"
          set:html={quote}
        />
      </div>
  
      <div class="">
        <img loading="lazy"
          src={primaryImageUrl}
          alt={primaryImageAlt}
          class="w-full object-cover h-[500px]"
        />
      </div>
    </div>

    <div class="grid lg:grid-cols-[40%_60%] h-auto lg:h-[800px]">

      <div class="relative lg:bottom-[150px]">
        <img loading="lazy"
          src={secondaryImageUrl}
          alt={secondaryImageAlt}
          class="w-full h-[900px] object-cover"
        />
      </div>
      <div class="p-24">
        <div
          class="font-times font-normal float-left font-playfair-display text-left uppercase text-neutral-950 text-7xl"
        >
        HOLA!
        </div>

        <div
          class="text-justify font-light text-xl leading-9 text-neutral-950"
          set:html={introText}
        />

        <div class="clear-both">
          <div class="m-0" set:html={signature} />
        </div>
      </div>
    
    </div>

  </div>

  
</div>
