---
import { FooterHeader, InstagramGrid, FooterNav } from "./components";

interface Props {
  content: {
    id: string;
    title: string;
    imageUrl: string;
  }[];
}

const { content, facebook, youtube, tiktok, twitter } = Astro.props;
---

<div class="bg-[#F1E5D7] text-stone-800">
  <FooterHeader />
  <InstagramGrid content={content} />
  <FooterNav
    facebook={facebook}
    youtube={youtube}
    tiktok={tiktok}
    twitter={twitter}
  />
</div>
